<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAME OF YOUR EXPERIENCE</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="centered">
        <div class="instructions">

                <!-- Rename the title below -->
                <h2>EXPERIENCE TITLE</h2>
                <h5>Experience by YOUR FIRST NAME, Class of YOUR GRADUATION YEAR</h5>

                <!-- Edit the links to set to your experience below -->
                <a href="samion.reality" rel="ar">
                    <img src="samion.png" alt="">
                </a>
                <!-- Edit description below -->
                <p>Brief explanation of your AR experience.</p>

                <h3>Instructions:</h3>
                <!-- List the instructions below -->
                <ol type="1">
                    <li>Tap on the image above</li>
                    <li>Allow camera access</li>
                    <!-- Uncomment the image below to embed an image showing where to position the camera. -->
                    <!-- Don't forget to include the image in the same folder as this file. -->
                    <li>EXPLAIN HOW TO FIND THE ANCHOR <!-- <img src="IMAGE-NAME-HERE.jpg" alt=""> --></li>
                    <li>ADDITIONAL DETAILS</li>
                </ol>

        </div>
    </div>


</body>
</html>